@model IngredientDB.Ingredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredïent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.merk)
        </dd>

    </dl>
</div>
<p>
    
</p>
