@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KoelkastApp</h1>
    <p class="lead">Welkom in de koelkast applicatie.</p>
    <p class="lead">Hier kan je:</p>
    <p class="lead">-Bijhouden wat voor ingredïenten je in huis hebt.</p>
    <p class="lead">-Een boodschappenlijst maken.</p>
    <p class="lead">-Een database met verschillende recepten.</p>

</div>

